<script setup>
    import { ref, reactive } from 'vue'
    import TableInsertRow from './TableInsertRow.vue'
    defineProps({
        mode: Number,
        data: Array,
        query: String,
    })
    const emit = defineEmits(['insert', 'show-update', 'show-insert', 'hide-insert', 'delete']) 
    const filterQuery = ref('')

    const handleShowInsert = () => {
        emit('show-insert')
    }

    const handleHideInsert = () => {
        emit('hide-insert')
    }

    const handleInsert = (data) => {
        emit('insert', data)
    }

    const handleShowUpdate = (empNo) => {
        emit('show-update', empNo)
    }

    const handleDelete = (empNo) => {
        emit('delete', empNo)
    }
</script>

<template>
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th style="width:33%">電腦編號</th>
                <th style="width:33%">姓名</th>
                <th style="width:33%">分機</th>
                <th style="width:10px" class="text-nowrap text-center">
                    <button type="button" 
                            class="btn btn-success" 
                            @click="handleShowInsert" 
                            :disabled="mode !== 1">新增</button></th>
            </tr>
        </thead>
        <tbody>
            <template v-for="d in data" :key="d.EmpNo">
                <tr v-if="!query || d.EmpNo.includes(query)">
                    <td>{{d.EmpNo}}</td>
                    <td>{{d.Name}}</td>
                    <td>{{d.Tel}}</td>
                    <td class="text-nowrap text-center">
                        <button type="button" class="btn btn-primary me-1" @click="handleShowUpdate(d.EmpNo)" :disabled="mode !== 1">修改</button>
                        <button type="button" class="btn btn-danger" @click="handleDelete(d.EmpNo)" :disabled="mode !== 1">刪除</button>
                    </td>
                </tr>
            </template>
            <TableInsertRow 
                v-if="mode === 3" 
                @cancel="handleHideInsert"
                @insert="handleInsert"
            />
        </tbody>
    </table>
</template>