<script setup>
import { ref, reactive, onMounted } from 'vue'
import Layout from './LayoutComponent.vue'
import LoadingComponent from './LoadingComponent.vue'
import QueryPanel from './QueryPanel.vue'
import DataPanel from './DataPanel.vue'
import UpdatePanel from './UpdatePanel.vue'
import { queryData } from '../utils/data.js'

const mode = ref(0)
const datas = reactive([])

onMounted(async () => {
    const res = await queryData()
    res.forEach(m => datas.push(m))
    mode.value = 1
})

// query contition
const filterQuery = ref('')
const handleQuery = (data) => {
    filterQuery.value = data
    mode.value = 1
}

// insert
const handleShowInsert = () => {
    mode.value = 3
}
const handleHideInsert = () => {
    mode.value = 1
}
const handleInsert = (data) => {
    const index = datas.findIndex(m => m.EmpNo === data.EmpNo)
    if(index >= 0) {
        alert(`電腦編號 ${data.EmpNo} 已存在`)
        return
    } 
    datas.push({...data})
    mode.value = 1
    alert('新增成功')
}

// update
const updateData = reactive({})
// const showUpdate = ref(false)
const handleShowUpdate = (empNo) => {
    const data = datas.find(m => m.EmpNo === empNo)
    updateData.EmpNo  = data.EmpNo
    updateData.Name  = data.Name
    updateData.Tel  = data.Tel
    mode.value = 2
}
const handleHideUpdate = () => {
    mode.value = 1
}
const handleUpdate = (updateData) => {
    console.log(updateData)
    const index = datas.findIndex(m => m.EmpNo === updateData.EmpNo)
    const data = datas[index]
    data.Name = updateData.Name
    data.Tel = updateData.Tel    
    mode.value = 1
    alert('編輯成功')
}

// delete
const handleDelete = (empNo) => {
    const index = datas.findIndex(m => m.EmpNo === empNo)
    datas.splice(index, 1)
}

</script>

<template>
    <LoadingComponent v-show="mode === 0"/>
    <Layout>
        <QueryPanel @query="handleQuery" :mode="mode"/>
        <DataPanel 
            :mode="mode"
            :data="datas" 
            :query="filterQuery"
            @insert="handleInsert"
            @show-update="handleShowUpdate"
            @show-insert="handleShowInsert"
            @hide-insert="handleHideInsert"
            @delete="handleDelete"/>
        <UpdatePanel 
            v-if="mode === 2" 
            :data="updateData" 
            @update="handleUpdate"
            @cancel="handleHideUpdate"/>
    </Layout>        
</template>