<script setup> 
</script>
<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Index</a>
        </div>
    </nav>
    <div class="container pt-3">
        <slot></slot>
    </div>
</template>