<script setup>
</script>
<template>
    <div class="loader">
        <div style="font-size:50px">
            Loading
        </div>
    </div>
</template>
<style scoped>
    .loader {
        height: 100vh;
        background-color: rgba(0, 0, 0, .3);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>