<script setup>
    import { ref } from 'vue'
    const props = defineProps({
        mode: Number
    })
    const emit = defineEmits(['query'])
    const query = ref('')
    const handleQuery = () => {
        emit('query', query.value)
    }
</script>
<template>
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">請輸入電腦編號：</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" v-model="query" :disabled="mode !== 1">
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" @click="handleQuery" :disabled="mode !== 1">查詢</button>
        </div>
    </div>


</template>