<script setup>
    import { reactive } from 'vue'

    const emit = defineEmits(['insert', 'cancel'])
    const data = reactive({})

    const handleInsert = () => {
        let errors = []
        if(!data.EmpNo) {
            errors.push('請輸入電腦編號')
        } 
        if(!data.Name) {
            errors.push('請輸入姓名')
        }
        
        if(errors.length > 0) {
            alert(errors.join('\n'));
            return
        }

        emit('insert', data)
    }

    const handleCancel = () => {
        emit('cancel')
    }
</script>
<template>
    <tr>
        <td><input class="form-control" type="text" v-model="data.EmpNo" /></td>
        <td><input class="form-control" type="text" v-model="data.Name" /></td>
        <td><input class="form-control" type="text" v-model="data.Tel" /></td>
        <td class="text-nowrap text-center">
            <button type="button" class="btn btn-primary me-1" @click="handleInsert">新增</button>
            <button type="button" class="btn btn-danger" @click="handleCancel">取消</button>
        </td>
    </tr>
</template>