

<script setup>
import {reactive} from 'vue'
const props = defineProps({
    data: Object,
})

const updateData = reactive({...props.data})
const emit = defineEmits(['update', 'cancel'])

const handleCancel = () => {
    emit('cancel')
}

const handleUpdate = () => {
    emit('update', { ...updateData })
}
</script>
<template>
    <div class="border p-3">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">電腦編號</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" disabled :value="updateData.EmpNo">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">姓名</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" v-model="updateData.Name">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">分機</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" v-model="updateData.Tel">
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary me-1" @click="handleUpdate">儲存</button>
            <button type="button" class="btn btn-danger" @click="handleCancel">取消</button>
        </div>
    </div>
</template>
